
@{
    ViewBag.Title = "EducationList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Eğitim Hayatı Listem</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Meslek Lisesi</td>
        <td>Veri Tabanı yönetimi</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>

    <tr>
        <td>2</td>
        <td>Afyon Kocatepe Üniversitesi</td>
        <td>Bilgisayar Programcılığı</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>

</table>

<a href="/Education/CreateEducation/" class="btn btn-success">Yeni Eğitim Bilgisi Girişi</a>