@model PortfolioProjectNight.Models.About
@{
    ViewBag.Title = "AboutIndex";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Hakkımda İşlemleri Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.AboutId)
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 6, 0, new { @class = "form-control" })
    <br />
    <label>Resim</label>
    @Html.TextAreaFor(x => x.ImageUrl, 2, 0, new { @class = "form-control" })

    <br />
    <button class="btn btn-success">Güncelle</button>
</form>
